body {
  background-color: rgb(213, 233, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: rgb(252, 252, 252);
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;

  border-style: dashed;
  background-color: rgb(230, 199, 233);
  padding: 1rem;
  margin: 2rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px;
  border-style: solid;
  border-color: blueviolet;
  width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
  border: 1px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
}
.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation {
  background-color: rgb(217, 179, 230);
  height: 3cm;
  width: 100%;
  border: 2px;
  border-style: dashed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
}
h2 {
  font-family: "Helvetica Neue", sans-serif;
  background-color: rgb(171, 252, 252);
  display: flex;
  text-align: flex-start;
}

img {
  width: 50px;
}
