.nav__imageButton, img /* navi Buttons */ {
  width: 70px;
}
.nav /* navi optik */ {
  background-color: rgb(230, 199, 233);
  height: 6.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
}
